@using System.Web.Mvc.Html
@using FaraMedia.Data.Schemas.Layout.Sections
@using FaraMedia.Web.Framework.Mvc.Extensions
@using FaraMedia.Web.Framework.Mvc.UI
@using FaraMedia.Web.Framework.Routing
@using FaraMedia.Web.Framework.UI
@model FaraMedia.FrontEnd.Administration.Models.News.Editable.EditableNewsModel
@{
    Layout = "_NewsLayout.cshtml";
    Html.AddLocalizedTitleParts(NewsSectionConstants.NewsController.Edit.Metadata.Title, Model.Title);
    Html.AddBreadcrumbParts(Html.LocalizedRouteLinkWithId(NewsSectionConstants.NewsController.Edit.Metadata.Title, new[] {Model.Title}, NewsSectionConstants.NewsController.Edit.RouteName, Model.Id));
}
<section>
    <div class="page-header">
        <h1>
            @Html.T(NewsSectionConstants.NewsController.Edit.Metadata.Title, Model.Title) 
            <small>(@Html.LocalizedBackToLink(NewsSectionConstants.NewsController.List.Metadata.Title, NewsSectionConstants.NewsController.List.RouteName, NewsSectionConstants.NewsController.List.Defaults))</small>
        </h1>
    </div>
    @Html.Custom().ValidationSummary(true)
    @using (Html.BeginRouteFormWithId(NewsSectionConstants.NewsController.Edit.RouteName, Model.Id)) {
        <div class="row">
            <div class="span4">
                <h2>@Html.T(NewsSectionConstants.NewsController.Edit.Metadata.Title, Model.Title)</h2>
                <p>@Html.T(NewsSectionConstants.NewsController.Edit.Metadata.Description)</p>
            </div>
            <div class="span12">
                @Html.Custom().HiddenFor(enm => enm.Id)
                @Html.Partial("_NewOrEdit", Model)
            </div>
        </div>
        @Html.Custom().EditorFor(enm => enm.Metadata)
        @Html.Partial("_EditActions")
    }
</section>