@using System.Web.Mvc.Html
@using FaraMedia.Data.Schemas.Layout.Sections
@using FaraMedia.Web.Framework.Mvc.Extensions
@using FaraMedia.Web.Framework.Mvc.UI
@using FaraMedia.Web.Framework.Routing
@using FaraMedia.Web.Framework.UI
@model FaraMedia.FrontEnd.Administration.Models.ContentManagement.Editable.EditableCategoryModel
@{
    Layout = "_CategoriesLayout.cshtml";
    Html.AddLocalizedTitleParts(NewsSectionConstants.CategoriesController.New.Metadata.Title);
    Html.AddBreadcrumbParts(Html.LocalizedRouteLink(NewsSectionConstants.CategoriesController.New.Metadata.Title, NewsSectionConstants.CategoriesController.New.RouteName));
}
<section>
    <div class="page-header">
        <h1>
            @Html.T(NewsSectionConstants.CategoriesController.New.Metadata.Title) 
            <small>(@Html.LocalizedBackToLink(NewsSectionConstants.CategoriesController.List.Metadata.Title, NewsSectionConstants.CategoriesController.List.RouteName, NewsSectionConstants.CategoriesController.List.Defaults))</small>
        </h1>
    </div>
    @using (Html.Custom().BeginRouteForm(NewsSectionConstants.CategoriesController.New.RouteName)) {
        @Html.Custom().ValidationSummary(true)
        <div class="row">
            <div class="span4">
                <h2>@Html.T(NewsSectionConstants.CategoriesController.New.Metadata.Title)</h2>
                <p>@Html.T(NewsSectionConstants.CategoriesController.New.Metadata.Description)</p>
            </div>
            <div class="span12">
                @Html.Partial("_NewOrEdit", Model)
            </div>
        </div>
        @Html.Custom().EditorFor(ecm => ecm.Metadata)
        @Html.Partial("_NewActions")
    }
</section>