@using System.Web.Mvc.Html
@using FaraMedia.Data.Schemas.Layout.Sections
@using FaraMedia.Web.Framework.Mvc.Extensions
@using FaraMedia.Web.Framework.Mvc.UI
@using FaraMedia.Web.Framework.Routing
@using FaraMedia.Web.Framework.UI
@model FaraMedia.FrontEnd.Administration.Models.FileManagement.Editable.EditablePictureModel
@{
    Layout = "_PicturesLayout.cshtml";
    Html.AddLocalizedTitleParts(MediaSectionConstants.PicturesController.Edit.Metadata.Title, Model.FileName);
    Html.AddBreadcrumbParts(Html.LocalizedRouteLinkWithId(MediaSectionConstants.PicturesController.Edit.Metadata.Title, new[] {Model.FileName}, MediaSectionConstants.PicturesController.Edit.RouteName, Model.Id));
}
<section>
    <div class="page-header">
        <h1>
            @Html.T(MediaSectionConstants.PicturesController.Edit.Metadata.Title, Model.FileName)
            <small>(@Html.LocalizedBackToLink(MediaSectionConstants.PicturesController.List.Metadata.Title, MediaSectionConstants.PicturesController.List.RouteName, MediaSectionConstants.PicturesController.List.Defaults))</small>
        </h1>
    </div>
    @Html.Custom().ValidationSummary(true)
    @using (Html.Custom().BeginRouteFormWithId(MediaSectionConstants.PicturesController.Edit.RouteName, Model.Id)) {
        <div class="row">
            <div class="span4">
                <h2>  @Html.T(MediaSectionConstants.PicturesController.Edit.Metadata.Title, Model.FileName)</h2>
                <p>@Html.T(MediaSectionConstants.PicturesController.Edit.Metadata.Description)</p>
            </div>
            <div class="span12">
                @Html.Custom().HiddenFor(epc => epc.Id)
                @Html.Partial("_NewOrEdit", Model)
            </div>
        </div>
        @Html.Partial("_EditActions")
    }
</section>